In [124]:
import pandas as pd
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import precision_score

# Question 2

# Given the following confusion matrix, evaluate (by hand) the model's performance.

|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |

In [11]:

# Python code demonstrate creating
# pandas DataFrame with indexed by
  
# DataFrame using arrays.
import pandas as pd
  
# initialize data of lists.
data = {'pred dog': [46, 13],
        'pred cat': [7, 34]}
  
# Creates pandas DataFrame.
df = pd.DataFrame(data, index=['actual_dog',
                               'actual_cat'])

In [12]:
df

            pred dog  pred cat
actual_dog        46         7
actual_cat        13        34

In [9]:
df = pd.DataFrame({
    'pred_dog': [46, 13],
    'pred_cat': [13, 34],
})
df

   pred_dog  pred_cat
0        46        13
1        13        34

## In the context of this problem, what is a false positive?

In [4]:
# False postitive 
# why is dog positive? Because we get to decide 

# predict a dog but it is actually a cat

## In the context of this problem, what is a false negative?

In [ ]:
# False negative 

# predict a cat but its actually a dog

## How would you describe this model?

In [10]:
df
pd.crosstab(df.pred_dog, df.pred_cat)

pred_cat  13  34
pred_dog
13         0   1
46         1   0

In [95]:
# do the math 

TP = 46
TN = 7
FP = 13
FN = 34

In [ ]:
# Precision shows how often an ML model is correct when predicting the target class.

In [ ]:
# Recall shows whether an ML model can find all objects of the target class.

In [ ]:
# Accuracy shows how often a classification ML model is correct overall.

## You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.

## Unfortunately, some of the rubber ducks that are produced will have defects. 

## Your team has built several models that try to predict those defects, 

## and the data from their predictions can be found here.

In [6]:
c3 = pd.read_csv('c3.csv')
c3

        actual     model1     model2     model3
0    No Defect  No Defect     Defect  No Defect
1    No Defect  No Defect     Defect     Defect
2    No Defect  No Defect     Defect  No Defect
3    No Defect     Defect     Defect     Defect
4    No Defect  No Defect     Defect  No Defect
..         ...        ...        ...        ...
195  No Defect  No Defect     Defect     Defect
196     Defect     Defect  No Defect  No Defect
197  No Defect  No Defect  No Defect  No Defect
198  No Defect  No Defect     Defect     Defect
199  No Defect  No Defect  No Defect     Defect

[200 rows x 4 columns]

In [98]:
c3.actual.value_counts()

actual
No Defect    184
Defect        16
Name: count, dtype: int64

## An internal team wants to investigate the cause of the manufacturing defects. 

## They tell you that they want to identify as many of the ducks that have a defect as possible. 

## Which evaluation metric would be appropriate here? 

## Which model would be the best fit for this use case?

In [ ]:
# It would be bad for us to get a false negative 
# recall is the best case for this 
# always ask what is worse for the customer

In [102]:
# we want everything that is defective 
# create variable to hold the defected products 

subset = c3[c3.actual == 'Defect']
len(subset)

16

In [104]:
model_recall = (subset.model1 == subset.actual).mean()
model_recall

0.5

In [105]:
model_recall = (subset.model2 == subset.actual).mean()
model_recall

0.5625

In [106]:
model_recall = (subset.model3 == subset.actual).mean()
model_recall

0.8125

## Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. 

## The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. 

## They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. 

## Which evaluation metric would be appropriate here? 

## Which model would be the best fit for this use case?

In [14]:
c3.actual.value_counts()

actual
No Defect    184
Defect        16
Name: count, dtype: int64

In [ ]:
# in this case there are 184 ducks with no defects and 16 with defects
# our baseline model will predict that there is no defect every time because it is the majority

In [15]:
c3['baseline_prediction'] = 'No Defect'

In [22]:
c3

        actual     model1     model2     model3 baseline_prediction
0    No Defect  No Defect     Defect  No Defect           No Defect
1    No Defect  No Defect     Defect     Defect           No Defect
2    No Defect  No Defect     Defect  No Defect           No Defect
3    No Defect     Defect     Defect     Defect           No Defect
4    No Defect  No Defect     Defect  No Defect           No Defect
..         ...        ...        ...        ...                 ...
195  No Defect  No Defect     Defect     Defect           No Defect
196     Defect     Defect  No Defect  No Defect           No Defect
197  No Defect  No Defect  No Defect  No Defect           No Defect
198  No Defect  No Defect     Defect     Defect           No Defect
199  No Defect  No Defect  No Defect     Defect           No Defect

[200 rows x 5 columns]

### using recall

In [23]:
subset = c3[c3.actual == 'No Defect']
## Model recall 

model_recall = (subset.model3 == subset.actual).mean()

## Baseline recall

baseline_recall = (subset.baseline_prediction == subset.actual).mean()

In [24]:
print(f'Model recall: {model_recall:.2%}')
print(f'Baseline recall: {baseline_recall:.2%}')

Model recall: 53.26%
Baseline recall: 100.00%

### using prediction

In [108]:
## Restrict to positive values ('coffee') for the PREDICTED values

subset = c3[c3.model1 == 'Defect']

## Model precision 

model_precision = (subset.model1 == subset.actual).mean()


## Baseline precision 
subset = c3 [c3.baseline_prediction == 'Defect']
baseline_precision = (subset.baseline_prediction == subset.actual).mean()

In [109]:
print(f'Model precision: {model_precision:.2%}')
print(f'Baseline model precision: {baseline_precision:.2%}')

Model precision: 80.00%
Baseline model precision: nan%

### using accuracy

In [28]:
# Compare the model's prediction to actual 
model_accuracy = (c3.model3 == c3.actual).mean()
model_accuracy

0.555

In [29]:
# Compare the baseline to actual 
baseline_accuracy = (c3.baseline_prediction == c3.actual).mean()
baseline_accuracy

0.92

In [30]:
print(f' Model accuracy: {model_accuracy:.2%}')
print(f' Baseline accuracy: {baseline_accuracy:.2%}')

 Model accuracy: 55.50%
 Baseline accuracy: 92.00%

## You are working as a data scientist for Gives You Paws ™, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).

## At Gives You Paws, anyone can upload pictures of their cats or dogs. 

## The photos are then put through a two step process. 

## First an automated algorithm tags pictures as either a cat or a dog (Phase I). 

## Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).

In [114]:
paws = pd.read_csv('gives_you_paws.csv')
paws.actual.value_counts().idxmax() # idxmax gives you the most common class

'dog'

### In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?

In [115]:
paws['baseline_prediction'] = 'dog'

In [38]:
# Compare the baseline to actual 
baseline_accuracy = (paws.baseline_prediction == paws.actual).mean()
baseline_accuracy

0.6508

In [56]:
paws

     actual model1 model2 model3 model4 baseline_prediction
0       cat    cat    dog    cat    dog                 dog
1       dog    dog    cat    cat    dog                 dog
2       dog    cat    cat    cat    dog                 dog
3       dog    dog    dog    cat    dog                 dog
4       cat    cat    cat    dog    dog                 dog
...     ...    ...    ...    ...    ...                 ...
4995    dog    dog    dog    dog    dog                 dog
4996    dog    dog    cat    cat    dog                 dog
4997    dog    cat    cat    dog    dog                 dog
4998    cat    cat    cat    cat    dog                 dog
4999    dog    dog    dog    dog    dog                 dog

[5000 rows x 6 columns]

In [75]:
confusion = confusion_matrix(paws.actual, paws.model1,
                 labels = ('dog', 'cat'))
TP = confusion[1, 1]
TN = confusion[0, 0]
FP = confusion[0, 1]
FN = confusion[1, 0]
print(confusion)
print('')
print(f'True Positive -> {TP}')
print(f'True Negative -> {TN}')
print(f'False Positive -> {FP}')
print(f'False Negative -> {FN}')

[[2614  640]
 [ 323 1423]]

True Positive -> 1423
True Negative -> 2614
False Positive -> 640
False Negative -> 323

In [76]:
(TP + TN) / (TP + TN + FP + FN)

0.8074

In [51]:
# model 1
model_accuracy = (paws.model1 == paws.actual).mean()
model_accuracy

0.8074

In [53]:
print(f' Model accuracy: {model_accuracy:.2%}')
print(f' Baseline accuracy: {baseline_accuracy:.2%}')
print(' Beat baseline')

 Model accuracy: 80.74%
 Baseline accuracy: 65.08%
 Beat baseline

In [77]:
confusion = confusion_matrix(paws.actual, paws.model2,
                 labels = ('dog', 'cat'))
TP = confusion[1, 1]
TN = confusion[0, 0]
FP = confusion[0, 1]
FN = confusion[1, 0]
print(confusion)
print('')
print(f'True Positive -> {TP}')
print(f'True Negative -> {TN}')
print(f'False Positive -> {FP}')
print(f'False Negative -> {FN}')

[[1597 1657]
 [ 191 1555]]

True Positive -> 1555
True Negative -> 1597
False Positive -> 1657
False Negative -> 191

In [78]:
(TP + TN) / (TP + TN + FP + FN)

0.6304

In [45]:
# model 2
model_accuracy = (paws.model2 == paws.actual).mean()
model_accuracy

0.6304

In [46]:
print(f' Model accuracy: {model_accuracy:.2%}')
print(f' Baseline accuracy: {baseline_accuracy:.2%}')

 Model accuracy: 63.04%
 Baseline accuracy: 65.08%

In [79]:
confusion = confusion_matrix(paws.actual, paws.model3,
                 labels = ('dog', 'cat'))
TP = confusion[1, 1]
TN = confusion[0, 0]
FP = confusion[0, 1]
FN = confusion[1, 0]
print(confusion)
print('')
print(f'True Positive -> {TP}')
print(f'True Negative -> {TN}')
print(f'False Positive -> {FP}')
print(f'False Negative -> {FN}')

[[1655 1599]
 [ 853  893]]

True Positive -> 893
True Negative -> 1655
False Positive -> 1599
False Negative -> 853

In [80]:
(TP + TN) / (TP + TN + FP + FN)

0.5096

In [47]:
# Model 3
model_accuracy = (paws.model3 == paws.actual).mean()
model_accuracy

0.5096

In [48]:
print(f' Model accuracy: {model_accuracy:.2%}')
print(f' Baseline accuracy: {baseline_accuracy:.2%}')

 Model accuracy: 50.96%
 Baseline accuracy: 65.08%

In [81]:
confusion = confusion_matrix(paws.actual, paws.model4,
                 labels = ('dog', 'cat'))
TP = confusion[1, 1]
TN = confusion[0, 0]
FP = confusion[0, 1]
FN = confusion[1, 0]
print(confusion)
print('')
print(f'True Positive -> {TP}')
print(f'True Negative -> {TN}')
print(f'False Positive -> {FP}')
print(f'False Negative -> {FN}')

[[3110  144]
 [1143  603]]

True Positive -> 603
True Negative -> 3110
False Positive -> 144
False Negative -> 1143

In [82]:
(TP + TN) / (TP + TN + FP + FN)

0.7426

In [54]:
# Model 4
model_accuracy = (paws.model4 == paws.actual).mean()
model_accuracy

0.7426

In [55]:
print(f' Model accuracy: {model_accuracy:.2%}')
print(f' Baseline accuracy: {baseline_accuracy:.2%}')
print(' Beat baseline')

# beat baseline

 Model accuracy: 74.26%
 Baseline accuracy: 65.08%
 Beat baseline

In [116]:
# try building a for loop becasue you are doing the same thing 4 times

# model 1 and model 4 perform the best in terms of accuracy

### Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recommend?

In [57]:
paws

     actual model1 model2 model3 model4 baseline_prediction
0       cat    cat    dog    cat    dog                 dog
1       dog    dog    cat    cat    dog                 dog
2       dog    cat    cat    cat    dog                 dog
3       dog    dog    dog    cat    dog                 dog
4       cat    cat    cat    dog    dog                 dog
...     ...    ...    ...    ...    ...                 ...
4995    dog    dog    dog    dog    dog                 dog
4996    dog    dog    cat    cat    dog                 dog
4997    dog    cat    cat    dog    dog                 dog
4998    cat    cat    cat    cat    dog                 dog
4999    dog    dog    dog    dog    dog                 dog

[5000 rows x 6 columns]

In [83]:
confusion = confusion_matrix(paws.actual, paws.model1,
                 labels = ('dog', 'cat'))
TP = confusion[1, 1]
TN = confusion[0, 0]
FP = confusion[0, 1]
FN = confusion[1, 0]
print(confusion)
print('')
print(f'True Positive -> {TP}')
print(f'True Negative -> {TN}')
print(f'False Positive -> {FP}')
print(f'False Negative -> {FN}')

[[2614  640]
 [ 323 1423]]

True Positive -> 1423
True Negative -> 2614
False Positive -> 640
False Negative -> 323

In [84]:
# recall

TP / (TP + FP)

0.6897721764420747

In [117]:
## Restrict to positive values ('dog') for the PREDICTED values

subset = paws[paws.model4 == 'dog']

## Model precision 

model_precision = (subset.model4 == subset.actual).mean()


## Baseline precision 
subset = paws [paws.baseline_prediction == 'dog']
baseline_precision = (subset.baseline_prediction == subset.actual).mean()

In [118]:
print(f'Model precision: {model_precision:.2%}')
print(f'Baseline model precision: {baseline_precision:.2%}')

Model precision: 73.12%
Baseline model precision: 65.08%

### Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recommend?

In [119]:
paws['baseline_prediction_2'] = 'cat'

In [120]:
paws

,actual,model1,model2,model3,model4,baseline_prediction,baseline_prediction_2
0,cat,cat,dog,cat,dog,dog,cat
1,dog,dog,cat,cat,dog,dog,cat
2,dog,cat,cat,cat,dog,dog,cat
3,dog,dog,dog,cat,dog,dog,cat
4,cat,cat,cat,dog,dog,dog,cat
...,...,...,...,...,...,...,...
4995,dog,dog,dog,dog,dog,dog,cat
4996,dog,dog,cat,cat,dog,dog,cat
4997,dog,cat,cat,dog,dog,dog,cat
4998,cat,cat,cat,cat,dog,dog,cat
4999,dog,dog,dog,dog,dog,dog,cat

In [93]:
confusion = confusion_matrix(paws.actual, paws.model4,
                 labels = ('cat', 'dog'))
TP = confusion[1, 1]
TN = confusion[0, 0]
FP = confusion[0, 1]
FN = confusion[1, 0]
print(confusion)
print('')
print(f'True Positive -> {TP}')
print(f'True Negative -> {TN}')
print(f'False Positive -> {FP}')
print(f'False Negative -> {FN}')

[[ 603 1143]
 [ 144 3110]]

True Positive -> 3110
True Negative -> 603
False Positive -> 1143
False Negative -> 144

In [94]:
TP / (TP + FP)

0.7312485304490948

In [123]:
## Restrict to positive values ('coffee') for the PREDICTED values

subset = paws[paws.model1 == 'cat']

## Model precision 

model_precision = (subset.model1 == subset.actual).mean()


## Baseline precision 
subset = paws [paws.baseline_prediction_2 == 'cat']
baseline_precision = (subset.baseline_prediction_2 == subset.actual).mean()

In [122]:
print(f'Model precision: {model_precision:.2%}')
print(f'Baseline model precision: {baseline_precision:.2%}')

Model precision: 68.98%
Baseline model precision: 65.08%

In [67]:
subset = paws[paws.model4 == 'cat']

## Model precision 

model_precision = (subset.model4 == subset.actual).mean()


## Baseline precision 
subset = paws [paws.baseline_prediction == 'dog']
baseline_precision = (subset.baseline_prediction == subset.actual).mean()

In [68]:
print(f'Model precision: {model_precision:.2%}')
print(f'Baseline model precision: {baseline_precision:.2%}')

Model precision: 80.72%
Baseline model precision: 65.08%

In [136]:
# presidion score 

model_1 = precision_score(paws.actual, paws.model1, pos_label='cat')
model_2 = precision_score(paws.actual, paws.model2, pos_label='cat')
model_3 = precision_score(paws.actual, paws.model3, pos_label='cat')
model_4 = precision_score(paws.actual, paws.model4, pos_label='cat')

In [135]:
print(f' Precision Score -> {model_1}')
print(f' Precision Score -> {model_2}')
print(f' Precision Score -> {model_3}')
print(f' Precision Score -> {model_4}')

 Precision Score -> 0.6897721764420747
 Precision Score -> 0.4841220423412204
 Precision Score -> 0.358346709470305
 Precision Score -> 0.8072289156626506

In [141]:
# classification report 

classification_report(paws.actual, paws.model1, target_names=['dog', 'cat'])
# model_2 = precision_score(paws.actual, paws.model2, pos_label='cat')
# model_3 = precision_score(paws.actual, paws.model3, pos_label='cat')
# model_4 = precision_score(paws.actual, paws.model4, pos_label='cat')

'              precision    recall  f1-score   support\n\n         dog       0.69      0.82      0.75      1746\n         cat       0.89      0.80      0.84      3254\n\n    accuracy                           0.81      5000\n   macro avg       0.79      0.81      0.80      5000\nweighted avg       0.82      0.81      0.81      5000\n'